<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Form 35E Calculator Demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .bordered {
            border: solid 3px #808080;
            border-radius: 10px;
            display: inline-block;
            padding: 10px;
            margin-left: 25px;
        }

        .header {
            font-family: Roboto;
            color: #808080;
            margin-left: 50px;
            margin-top: 25px;
        }

        .form tr td {
            padding: 5px;
        }

            .form tr td:first-child {
                font-weight: bold;
                color: dodgerblue;
                font-size: 18px;
            }

            .form tr td span {
                font-weight: bold;
                font-size: 18px;
                margin-top: 12px;
            }

        .form td {
            white-space: nowrap; /*border: solid 1px #000000;*/
        }

        .form-control {
            background-color: lightyellow;
        }

        .form span, .form input, .form select {
            display: inline-block;
        }

        .form i {
            font-size: 24px;
            color: forestgreen;
            font-weight: bolder;
        }

        .dollar {
            width: 150px;
        }

        .dol-perc {
            width: 50px;
        }

        .titled {
            color: forestgreen !important;
            font-size: 20px !important;
            border-bottom: solid 1px #cccccc;
        }

        .calc {
            color: forestgreen;
            font-size: 20px;
            top: -4px !important;
            display: inline-block !important;
            font-weight: bold;
            position: relative;
        }

        .dark {
            color: #000000 !important;
        }

        .red {
            color: crimson !important;
        }

        .link { font-weight: bold; font-size: 18px; margin-left: 150px; top: 25px; position: relative;}

        .container {margin-left: 50px;}
    </style>
</head>

<body>
<h1 class="header">Form 35E Calculator Demo</h1>

<hr />

<div id="calc" class="container">
<table>
<tr valign="top">
<td>
    <div class="bordered">
        <table class="form">
            <tr>
                <td colspan="2" class="titled">Competing Offer Net Purchase Price</td>
            </tr>
            <tr>
                <td>Purchase Price</td>
                <td>
                    <span>$</span> <input class="form-control form-control-lg dollar" type="text" maxlength="11" min="0" placeholder="0" v-model="PPCO" id="PPCO" />
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Purchase Price of Competing Offer. If the Competing Offer contains an escalation provision, enter the maximum purchase price of the Competing Offer. The maximum price is on line 13 of Form 35E."></i>
                </td>
            </tr>

            <tr>
                <td>Buyer Credit (41C)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C1V" id="C1" />
                    <select class="form-control form-control-lg dol-perc" v-model="C1T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Buyer in Form 41C. This is the credit amount, if any, requested by the Competing Offer Buyer in Form 41C."></i>
                </td>
            </tr>

            <tr>
                <td>Buyer Credit (22A)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C2V" id="C2" />
                    <select class="form-control form-control-lg dol-perc" v-model="C2T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Buyer in Form 22A. This is the credit amount, if any, requested by the Competing Offer Buyer in Form 22A, Line 43."></i>
                </td>
            </tr>

            <tr>
                <td>BBC (17B)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C3V" id="C13" />
                    <select class="form-control form-control-lg dol-perc" v-model="C3T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="BBC in Specific Term 17(b). This is the BBC amount, if any, requested by Competing Offer Buyer in the PSA in Specific Term 17(b) (or for some PSAs in Specific Term 18(b))."></i>
                </td>
            </tr>

            <tr>
                <td>Other Concessions</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C4V" id="C4" />
                    <select class="form-control form-control-lg dol-perc" v-model="C4T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Any other concessions or credits to Buyer. These could include concessions or credits for repairs, escrow fees, interest rate buy downs, or other payments not in the fields above."></i>
                </td>
            </tr>

            <tr>
                <td>Credits to Seller</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C5V" id="C5" />
                    <select class="form-control form-control-lg dol-perc" v-model="C5T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Seller in Competing Offer. This is any amount credited to the seller in the Competing Offer. These could include buyer agreeing to pay the seller’s portion of the escrow fee, title fee."></i>
                </td>
            </tr>

            <tr>
                <td class="dark">Net Purchase Price</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <label class="calc">{{NPPCO_Display}}</label>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Competing Offer Net Purchase Price.  PPCO - (C1+C2+C3+C4) + C5"></i>
                </td>
            </tr>
        </table>
    </div>
</td>

<td>
    <div class="bordered">
        <table class="form">
            <tr>
                <td colspan="2" class="titled">Escalated Offer's New Purchase Price</td>
            </tr>

            <tr>
                <td>Escalation Amount</td>
                <td>
                    <span>$</span> <input class="form-control form-control-lg dollar" type="text" maxlength="11" placeholder="0" v-model="E" id="E" />
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalation Amount. This is the Escalation Amount in Form 35E, line 12 of the Escalated Offer."></i>
                </td>
            </tr>

            <tr>
                <td class="dark">Escalated Net Price</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <label class="calc">{{ENP_Display}}</label>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalated Net Price"></i>
                </td>
            </tr>

            <tr>
                <td>Buyer Credit (41C)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC1V" id="EC1" />
                    <select class="form-control form-control-lg dol-perc" v-model="EC1T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Buyer in Form 41C. This is the credit amount, if any, requested by the Escalated Offer Buyer in Form 41C."></i>
                </td>
            </tr>

            <tr>
                <td>Buyer Credit (22A)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC2V" id="EC2" />
                    <select class="form-control form-control-lg dol-perc" v-model="EC2T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Buyer in Form 22A. This is the credit amount, if any, requested by the Escalated Offer Buyer in Form 22A, Line 43."></i>
                </td>
            </tr>

            <tr>
                <td>BBC (17B)</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC3V" id="EC3" />
                    <select class="form-control form-control-lg dol-perc" v-model="EC3T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="BBC in Specific Term 17(b). This is the BBC amount, if any, requested by Escalated Offer Buyer in the PSA in Specific Term 17(b) (or for some PSAs in Specific Term 18(b))."></i>
                </td>
            </tr>

            <tr>
                <td>Other Concessions</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC4V" id="EC4" />
                    <select class="form-control form-control-lg dol-perc" v-model="EC4T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Any other concessions or credits to Buyer. These could include concessions or credits for repairs, escrow fees, interest rate buy downs, or other payments not in the fields above."></i>
                </td>
            </tr>

            <tr>
                <td>Credits to Seller</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC5V" id="EC5" />
                    <select class="form-control form-control-lg dol-perc" v-model="EC5T">
                        <option value="$">$</option>
                        <option value="%">%</option>
                    </select>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Credits to Seller in Competing Offer. This is any amount credited to the seller in the Escalated Offer. These could include buyer agreeing to pay the seller’s portion of the escrow fee, title fee."></i>
                </td>
            </tr>

            <tr>
                <td class="dark">New Purchase Price</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <label class="calc">{{EPP_Display}}</label>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalated Offer’s New Purchase Price"></i>
                </td>
            </tr>
        </table>
    </div>
</td>

<td>
    <div class="bordered">
        <table class="form">
            <tr>
                <td colspan="2" class="titled">Max Escalate Price Adjustments</td>
            </tr>
            <tr>
                <td>Max Escalated Price</td>
                <td>
                    <span>$</span> <input class="form-control form-control-lg dollar" type="text" maxlength="11" placeholder="0" v-model="MEPP" id="MEPP" />
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Maximum EPP. This is the Maximum EPP in Form 35E, line 13.  EPP may not exceed this amount."></i>
                </td>
            </tr>

            <tr>
                <td class="red">Adjusted Escalated Net</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <label class="calc">{{AENP_Display}}</label>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Adjusted ENP if original EPP exceeds Maximum EPP."></i>
                </td>
            </tr>

            <tr>
                <td class="red">Adjusted Escalated Price</td>
                <td>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <label class="calc">{{AEPP_Display}}</label>
                    <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Adjusted EPP if original EPP exceeds Maximum EPP."></i>
                </td>
            </tr>
        </table>
    </div>

    <br />

    <button class="btn btn-primary btn-lg link" onclick="app.Refresh()">Run Calculations</button>

    <br /><p /><br/>

    <a class="btn btn-primary btn-lg link" href="Form35E.html">Reset Calculator</a>

    <br />

    <br />

    &nbsp;&nbsp;<a href="Form_35E_Specs.xlsx" class="link">Specs & Formulas</a>
</td>
</tr>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
    $(document).ready(function () {

    });

    $(document).on('input', '.dollar', function () {
        var value = this.value;

        // Just handle the input and allow periods and numbers
        let val = value.replace(/[^0-9.]/g, '');

        // Ensure only one period can be entered
        const parts = val.split('.');
        if (parts.length > 2) {
            val = parts[0] + '.' + parts.slice(1).join(''); // Keep only the first period
        }

        // Limit to two decimal places
        if (val.includes('.')) {
            const [whole, decimal] = val.split('.');
            val = whole + '.' + (decimal.substring(0, 2)); // Only keep two decimal places
        }

        if (val == "") { val = "0"; }

        if (val === ".") { val = "0."; }

        this.value = val; // Set the input value directly without formatting
    });

    $(document).on('blur', '.dollar', function () {  
        formatValue(this);
        app.Refresh();           
    });

    $(document).on('change', '.dollar', function () {
        formatValue(this);
        app.Refresh();
    });
        
    $(document).on('change', '.dol-perc', function () {
        formatValue($("#PPCO")[0]);
        app.Refresh();
    });

    $(document).on('blur', '.dol-perc', function () {
        formatValue($("#PPCO")[0]);
        app.Refresh();
    });

    function formatValue(input) {
        let val = input.value.replace(/,/g, '');

        if (val == null || val == "" || val == ".") { val = "0"; }

        if (val) {
            let formattedValue;

            if ($(input).hasClass('dec')) {
                const floatVal = parseFloat(val);
                formattedValue = floatVal.toLocaleString('en', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
            } else {
                const intVal = parseInt(val, 10);
                formattedValue = intVal.toLocaleString('en', { useGrouping: true });
            }

            input.value = formattedValue;
        }
        else {
            input.value = "0";
        }

        $('.dollar').each(function () {
            if ($(this).attr('id') != input.attributes['id'].value) {
                var $otherInput = $(this)[0];
                let otherVal = $otherInput.value.replace(/,/g, '');

                if (otherVal) {
                    let newValue;

                    if ($otherInput.className.includes('dec')) {
                        const fVal = parseFloat(otherVal);
                        newValue = fVal.toLocaleString('en', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
                    } else {
                        const iVal = parseInt(otherVal, 10);
                        newValue = iVal.toLocaleString('en', { useGrouping: true });
                    }

                    $otherInput.value = newValue;
                } else {
                    $otherInput.value = "0";
                }
            }
        });
    }

    $(document).on('focus', '.dollar', function () {
        if (this.value === "0") {
            this.select();
        }
    });  

    $(document).on('blur', '.dol-perc', function () {
        app.Refresh();
    }); 

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function i(str) {
        str = str.toString().replace('$','');
        return parseInt(str.replace(/,/g, ''), 10);
    }

    function dec(str) {
        str = str.toString().replace('$', '');
        str = str.replace(/,/g, '');
        return parseFloat(str);
    }

        var app = new Vue({
            el: '#calc',
            data: {
                PPCO: 0,
                C1V: 0,
                C1T: "$",
                C2V: 0,
                C2T: "$",
                C3V: 0,
                C3T: "$",
                C4V: 0,
                C4T: "$",
                C5V: 0,
                C5T: "$",
                E: 0,
                EC1V: 0,
                EC1T: "$",
                EC2V: 0,
                EC2T: "$",
                EC3V: 0,
                EC3T: "$",
                EC4V: 0,
                EC4T: "$",
                EC5V: 0,
                EC5T: "$",
                MEPP: 0,
                NPPCO_Value: 0,
                NPPCO_Display:  "$0",
                ENP_Value: 0,
                ENP_Display: "$0",
                EPP_Value: 0,
                EPP_Display: "$0",
                AENP_Value: 0,
                AENP_Display: "$0",
                AEPP_Value: 0,
                AEPP_Display: "$0",

            },
            methods: {
                C1() { return this.C1T === "$" ? i(this.C1V) : i(this.PPCO) * (dec(this.C1V) / 100) },
                C2() { return this.C2T === "$" ? i(this.C2V) : i(this.PPCO) * (dec(this.C2V) / 100) },
                C3() { return this.C3T === "$" ? i(this.C3V) : i(this.PPCO) * (dec(this.C3V) / 100) },
                C4() { return this.C4T === "$" ? i(this.C4V) : i(this.PPCO) * (dec(this.C4V) / 100) },
                C5() { return this.C5T === "$" ? i(this.C5V) : i(this.PPCO) * (dec(this.C5V) / 100) },

                EC1() { return this.EC1T === "$" ? i(this.EC1V) : this.ENP_Value / (1 - (dec(this.EC1V) / 100)) - this.ENP_Value },
                EC2() { return this.EC2T === "$" ? i(this.EC2V) : this.ENP_Value / (1 - (dec(this.EC2V) / 100)) - this.ENP_Value },
                EC3() { return this.EC3T === "$" ? i(this.EC3V) : this.ENP_Value / (1 - (dec(this.EC3V) / 100)) - this.ENP_Value },
                EC4() { return this.EC4T === "$" ? i(this.EC4V) : this.ENP_Value / (1 - (dec(this.EC4V) / 100)) - this.ENP_Value },
                EC5() { return this.EC5T === "$" ? i(this.EC5V) : this.ENP_Value / (1 - (dec(this.EC5V) / 100)) - this.ENP_Value },

                CalculateNPPCO() {
                    var error = false;

                    if ((this.C1T === "%" && i(this.C1V) > 100)) {
                        this.C1V = 0;
                        $("#C1").focus().select();
                        error = true;
                    }

                    if ((this.C2T === "%" && i(this.C2V) > 100)) {
                        this.C2V = 0;
                        $("#C2").focus().select();
                        error = true;
                    }

                    if ((this.C3T === "%" && i(this.C3V) > 100)) {
                        this.C3V = 0;
                        $("#C3").focus().select();
                        error = true;
                    }

                    if ((this.C4T === "%" && i(this.C4V) > 100)) {
                        this.C4V = 0;
                        $("#C4").focus().select();
                        error = true;
                    }

                    if ((this.C5T === "%" && i(this.C5V) > 100)) {
                        this.C5V = 0;
                        $("#C5").focus().select();
                        error = true;
                    }

                    if (error) {
                        alert("Percentages cannnot exceed 100.");
                        return;
                    }

                    this.NPPCO_Value = i(this.PPCO) - (this.C1() + this.C2() + this.C3() + this.C4()) + this.C5();

                    this.NPPCO_Display = "$" + this.NPPCO_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateENP() {
                    this.ENP_Value = i(this.E) + this.NPPCO_Value;

                    this.ENP_Display = "$" + this.ENP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateEPP() {
                    var error = false;

                    if ((this.EC1T === "%" && i(this.EC1V) > 100)) {
                        this.EC1V = 0;
                        $("#EC1").focus().select();
                        error = true;
                    }

                    if ((this.EC2T === "%" && i(this.EC2V) > 100)) {
                        this.EC2V = 0;
                        $("#EC2").focus().select();
                        error = true;
                    }

                    if ((this.EC3T === "%" && i(this.EC3V) > 100)) {
                        this.EC3V = 0;
                        $("#EC3").focus().select();
                        error = true;
                    }

                    if ((this.EC4T === "%" && i(this.EC4V) > 100)) {
                        this.EC4V = 0;
                        $("#EC4").focus().select();
                        error = true;
                    }

                    if ((this.EC5T === "%" && i(this.EC5V) > 100)) {
                        this.EC5V = 0;
                        $("#EC5").focus().select();
                        error = true;
                    }

                    if (error) {
                        alert("Percentages cannnot exceed 100.");
                        return;
                    }

                    this.EPP_Value = Math.round(this.ENP_Value + (this.EC1() + this.EC2() + this.EC3() + this.EC4()) - this.EC5());

                    this.EPP_Display = "$" + this.EPP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateAENP() {
                    this.AENP_Value = this.EPP_Value <= i(this.MEPP) || i(this.MEPP) === 0 ? null : Math.round(i(this.MEPP) - (this.EC1() + this.EC2() + this.EC3() + this.EC4()) + this.EC5());

                    this.AENP_Display = this.AENP_Value === null ? "N/A" : "$" + this.AENP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateAEPP() {
                    this.AEPP_Value = this.AENP_Value === null ? null : Math.round(i(this.AENP_Value) + (this.EC1() + this.EC2() + this.EC3() + this.EC4()) - this.EC5());

                    this.AEPP_Display = this.AEPP_Value === null ? "N/A" : "$" + this.AEPP_Value.toLocaleString('en', { useGrouping: true });
                },

                Refresh() {
                    this.CalculateNPPCO();
                    this.CalculateENP();
                    this.CalculateEPP();
                    this.CalculateAENP();
                    this.CalculateAEPP();
                }
            }
        });
    </script>

</body>
</html>
