<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Form 35E Calculator Demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .bordered {
            border: solid 3px #808080;
            border-radius: 10px;
            display: inline-block;
            padding: 10px;
            margin-left: 25px;
        }

        .header {
            font-family: Roboto;
            color: #808080;
            margin-left: 50px;
            margin-top: 25px;
        }

        .form tr td {
            padding: 5px;
        }

            .form tr td:first-child {
                font-weight: bold;
                color: dodgerblue;
                font-size: 18px;
            }

            .form tr td span {
                font-weight: bold;
                font-size: 18px;
                margin-top: 12px;
            }

        .form td {
            white-space: nowrap; /*border: solid 1px #000000;*/
        }

        .form-control {
            background-color: lightyellow;
        }

        .form span, .form input, .form select {
            display: inline-block;
        }

        .form i {
            font-size: 24px;
            color: forestgreen;
            font-weight: bolder;
        }

        .form tr:has(td:nth-child(2))) td:first-child {
            text-align: right;
        }

        .dollar {
            width: 150px;
        }

        .dol-perc {
            width: 50px;
        }

        .titled {
            color: forestgreen !important;
            font-size: 20px !important;
            border-bottom: solid 1px #cccccc;
        }

        .calc {
            color: forestgreen;
            font-size: 20px;
            top: -4px !important;
            display: inline-block !important;
            font-weight: bold;
            position: relative;
        }

        .dark {
            color: #000000 !important;
        }

        .red {
            color: crimson !important;
        }

        .blue {
            color: dodgerblue;
        }

        .link { font-weight: bold; font-size: 18px; margin-left: 150px; top: 25px; position: relative;}

        .container {margin-left: 50px;}
    </style>
</head>

<body>
<h1 class="header">Form 35E Calculator Demo</h1>

<hr />

<div id="calc" class="container">
<table>
    <tr valign="top">
        <td>
            <div class="bordered">
                <table class="form">
                    <tr>
                        <td colspan="2" class="titled">Competing Offer Net Purchase Price</td>
                    </tr>
                    <tr>
                        <td>Competing Offer Purchase Price (or max $)</td>
                        <td>
                            <input class="form-control form-control-lg dollar" type="text" maxlength="11" min="0" placeholder="0" v-model="PPCO" id="PPCO" />
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Purchase Price of Competing Offer. If the Competing Offer contains an escalation provision, enter the maximum purchase price of the Competing Offer. The maximum price is on line 13 of Form 35E."></i>
                        </td>
                    </tr>

                    <tr>
                        <td class="dark">Buyer Credits (expressed as $)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C1V" id="C1" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Buyer Credits (expressed as %)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C2V" id="C2" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Seller Credits (expressed as $)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C3V" id="C13" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Seller Credits (expressed as %)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="C4V" id="C4" /></td>
                    </tr>

                    <tr>
                        <td class="red">Competing Offer Net Purchase Price</td>
                        <td>
                            <label class="calc">{{NPPCO_Display}}</label>
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Competing Offer Net Purchase Price."></i>
                        </td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="bordered">
                <table class="form">
                    <tr>
                        <td colspan="2" class="titled">Escalated Offer New Purchase Price</td>
                    </tr>

                    <tr>
                        <td class="dark">Escalation Amount ($)</td>
                        <td>
                            <input class="form-control form-control-lg dollar" type="text" maxlength="11" placeholder="0" v-model="E" id="E" />
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalation Amount. This is the Escalation Amount in Form 35E, line 12 of the Escalated Offer."></i>
                        </td>
                    </tr>

                    <tr>
                        <td class="red">Escalated Net Price ($)</td>
                        <td>
                            <label class="calc">{{ENP_Display}}</label>
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalated Net Price"></i>
                        </td>
                    </tr>

                    <tr>
                        <td class="dark">Buyer Credits (presented as $)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC1V" id="EC1" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Buyer Credits (presented as %)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC2V" id="EC2" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Seller Credits (presented as $)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC3V" id="EC3" /></td>
                    </tr>

                    <tr>
                        <td class="dark">Seller Credits (presented as %)</td>
                        <td><input class="form-control form-control-lg dollar dec" type="text" maxlength="6" placeholder="0" v-model="EC4V" id="EC4" /></td>
                    </tr>

                    <tr>
                        <td>Potential Escalated Purchase Price</td>
                        <td>
                            <label class="calc">{{EPP_Display}}</label>
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Escalated Offer’s New Purchase Price"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </td>

        <td>
            <div class="bordered">
                <table class="form">
                    <tr>
                        <td colspan="2" class="titled">Max Escalated Purchase Price</td>
                    </tr>
                    <tr>
                        <td class="dark">Maximum Escalated Purchase Price ($)</td>
                        <td>
                            <input class="form-control form-control-lg dollar" type="text" maxlength="11" placeholder="0" v-model="MEPP" id="MEPP" />
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Maximum EPP. This is the Maximum EPP in Form 35E, line 13.  EPP may not exceed this amount."></i>
                        </td>
                    </tr>

                    <tr>
                        <td>New Purchase Price</td>
                        <td>
                            <label class="calc">{{AEPP_Display}}</label>
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Adjusted EPP if original EPP exceeds Maximum EPP.  Falls under Max Price Cap."></i>
                        </td>
                    </tr>

                    <tr>
                        <td class="red">Escalated Net Price</td>
                        <td>
                            <label class="calc">{{AENP_Display}}</label>
                            <i class="bi bi-info-circle icon-large" data-toggle="tooltip" data-placement="top" title="Adjusted ENP if original EPP exceeds Maximum EPP."></i>
                        </td>
                    </tr>
                </table>
            </div>

            <br />

            <button class="btn btn-primary btn-lg link" onclick="app.Refresh()">Run Calculations</button>

            <br /><p /><br/>

            <a class="btn btn-primary btn-lg link" href="Form35E.html">Reset Calculator</a>

            <br />

            <br />

            &nbsp;&nbsp;<a href="Form_35E_Specs.xlsx" class="link">Specs & Formulas</a>
        </td>
    </tr>
    
    <tr>
        <td colspan="3">
            <hr />
            <span class="titled"><b>Broker Notes:</b></span>
            <br />
            If the Max Escalated Price is <b><i>less</i></b> than the Potential Escalated Purchase Price, then proceed to 3rd calculator on the right to determine the New Purchase Price
            <br />
            If the Max Escalated Price is <b><i>more</i></b> than the Potential Escalated Purchase Price, then the <b class="blue">New Purchase Price is {{EPP_Display}}</b>
        </td>
    </tr>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
    $(document).ready(function () {

    });

    $(document).on('input', '.dollar', function () {
        var value = this.value;

        // Just handle the input and allow periods and numbers
        let val = value.replace(/[^0-9.]/g, '');

        // Ensure only one period can be entered
        const parts = val.split('.');
        if (parts.length > 2) {
            val = parts[0] + '.' + parts.slice(1).join(''); // Keep only the first period
        }

        // Limit to two decimal places
        if (val.includes('.')) {
            const [whole, decimal] = val.split('.');
            val = whole + '.' + (decimal.substring(0, 2)); // Only keep two decimal places
        }

        if (val == "") { val = "0"; }

        if (val === ".") { val = "0."; }

        this.value = val; // Set the input value directly without formatting
    });

    $(document).on('blur', '.dollar', function () {  
        formatValue(this);
        app.Refresh();           
    });

    $(document).on('change', '.dollar', function () {
        formatValue(this);
        app.Refresh();
    });
        
    $(document).on('change', '.dol-perc', function () {
        formatValue($("#PPCO")[0]);
        app.Refresh();
    });

    $(document).on('blur', '.dol-perc', function () {
        formatValue($("#PPCO")[0]);
        app.Refresh();
    });

    function formatValue(input) {
        let val = input.value.replace(/,/g, '');

        if (val == null || val == "" || val == ".") { val = "0"; }

        if (val) {
            let formattedValue;

            if ($(input).hasClass('dec')) {
                const floatVal = parseFloat(val);
                formattedValue = floatVal.toLocaleString('en', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
            } else {
                const intVal = parseInt(val, 10);
                formattedValue = intVal.toLocaleString('en', { useGrouping: true });
            }

            input.value = formattedValue;
        }
        else {
            input.value = "0";
        }

        $('.dollar').each(function () {
            if ($(this).attr('id') != input.attributes['id'].value) {
                var $otherInput = $(this)[0];
                let otherVal = $otherInput.value.replace(/,/g, '');

                if (otherVal) {
                    let newValue;

                    if ($otherInput.className.includes('dec')) {
                        const fVal = parseFloat(otherVal);
                        newValue = fVal.toLocaleString('en', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
                    } else {
                        const iVal = parseInt(otherVal, 10);
                        newValue = iVal.toLocaleString('en', { useGrouping: true });
                    }

                    $otherInput.value = newValue;
                } else {
                    $otherInput.value = "0";
                }
            }
        });
    }

    $(document).on('focus', '.dollar', function () {
        if (this.value === "0") {
            this.select();
        }
    });  

    $(document).on('blur', '.dol-perc', function () {
        app.Refresh();
    }); 

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function i(str) {
        str = str.toString().replace('$','');
        return parseInt(str.replace(/,/g, ''), 10);
    }

    function dec(str) {
        str = str.toString().replace('$', '');
        str = str.replace(/,/g, '');
        return parseFloat(str);
    }

        var app = new Vue({
            el: '#calc',
            data: {
                PPCO: 0,
                C1V: 0,
                C1T: "$",
                C2V: 0,
                C2T: "$",
                C3V: 0,
                C3T: "$",
                C4V: 0,
                C4T: "$",
                E: 0,
                EC1V: 0,
                EC1T: "$",
                EC2V: 0,
                EC2T: "$",
                EC3V: 0,
                EC3T: "$",
                EC4V: 0,
                EC4T: "$",
                
                NPPCO_Value: 0,
                NPPCO_Display:  "$0",
                ENP_Value: 0,
                ENP_Display: "$0",
                ENPA: 0,
                EPP_Value: 0,
                EPP_Display: "$0",
                MEPP: 0,
                AENP_Value: 0,
                AENP_Display: "$0",
                AEPP_Value: 0,
                AEPP_Display: "$0",

            },
            methods: {
                C1() { return i(this.C1V); },
                C2() { return i(this.PPCO) * (dec(this.C2V) / 100); },
                C3() { return i(this.C3V); },
                C4() { return i(this.PPCO) * (dec(this.C4V) / 100) },

                EC1() { return i(this.EC1V); },
                EC2() { return dec(dec(this.ENPA) / (1.00 - (dec(this.EC2V) / 100.00)) - dec(this.ENPA)); },
                EC3() { return i(this.EC3V); }, 
                EC4() { return dec(dec(this.ENPA) / (1.00 - (dec(this.EC4V) / 100.00)) - dec(this.ENPA)); },

                ECP() {
                    var val = 0;

                    if (this.EC2V > this.EC4V) {
                        val = dec(dec(this.ENPA) / (1.00 - (dec(this.EC2V - this.EC4V) / 100.00)) - dec(this.ENPA));
                    } else if (this.EC2V < this.EC4V) {
                        val = dec(dec(this.ENPA) / (1.00 - (dec(this.EC4V - this.EC2V) / 100.00)) - dec(this.ENPA));
                        val = val * -1;
                    }

                    return val;
                },

                MC1() { return i(this.EC1V); },
                MC2() { return i(this.MEPP) * (dec(this.EC2V) / 100) },
                MC3() { return i(this.EC3V); },
                MC4() { return i(this.MEPP) * (dec(this.EC4V) / 100) },

                CalculateNPPCO() {
                    var error = false;

                    if (i(this.C2V) > 100) {
                        this.C2V = 0;
                        $("#C2").focus().select();
                        error = true;
                    }

                    if (i(this.C4V) > 100) {
                        this.C4V = 0;
                        $("#C4").focus().select();
                        error = true;
                    }

                    if (error) {
                        alert("Percentages cannnot exceed 100.");
                        return;
                    }

                    this.NPPCO_Value = i(this.PPCO) + this.C3() + this.C4() - this.C1() - this.C2();

                    this.NPPCO_Display = "$" + this.NPPCO_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateENP() {
                    this.ENP_Value = i(this.E) + this.NPPCO_Value;

                    this.ENP_Display = "$" + this.ENP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateENPA() {
                    this.ENPA = this.ENP_Value + this.EC1() - this.EC3();
                },

                CalculateEPP() {
                    var error = false;

                    if (i(this.EC2V) > 100) {
                        this.EC2V = 0;
                        $("#EC2").focus().select();
                        error = true;
                    }

                    if (i(this.EC4V) > 100) {
                        this.EC4V = 0;
                        $("#EC4").focus().select();
                        error = true;
                    }

                    if (error) {
                        alert("Percentages cannnot exceed 100.");
                        return;
                    }

                    this.EPP_Value = Math.round(this.ENPA + this.ECP());

                    this.EPP_Display = "$" + this.EPP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateAENP() {
                    this.AENP_Value = this.EPP_Value <= i(this.MEPP) || i(this.MEPP) === 0 ? null : Math.round(i(this.MEPP) + this.MC3() + this.MC4() - this.MC1() - this.MC2());

                    this.AENP_Display = this.AENP_Value === null ? "N/A" : "$" + this.AENP_Value.toLocaleString('en', { useGrouping: true });
                },

                CalculateAEPP() {
                    this.AEPP_Value = this.AENP_Value === null ? null : i(this.MEPP);

                    this.AEPP_Display = this.AEPP_Value === null ? "N/A" : "$" + this.AEPP_Value.toLocaleString('en', { useGrouping: true });
                },

                Refresh() {
                    this.CalculateNPPCO();
                    this.CalculateENP();
                    this.CalculateENPA();
                    this.CalculateEPP();
                    this.CalculateAENP();
                    this.CalculateAEPP();
                }
            }
        });
    </script>

</body>
</html>
